includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap/app.php
        - config
        - database
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Unsafe usage of new static#'
    tmpDir: storage/framework/cache/phpstan
